mark {
    background-color:#B65659;
}

.faq-title{
	padding:0;
    margin-bottom:20px;
    border-bottom: 2px solid #aaa;
    font-size: 3rem;
}

.qalist{
	margin-top:10px;
	margin-left:10px;
}

.faq{
	margin-top:30px;
	margin-bottom:10px;
}

.faq .q{
	margin-left:10px;
	padding-left: 1em;
	text-indent: -2em;
	font-size: 1.7em;
	font-weight:bold;
	color:black;
	/*border-bottom: 1px solid #B4383D;*/
	/*
	letter-spacing:0.2rem;
	*/
}

.faq .q:before{
	content:url("../img/Q.png");
}

.faq .a{
	margin-top:6px;
	margin-left:20px;
	padding-left: 1em;
	text-indent: -2em;
	font-size: 1.7em;
	font-weight:bold;
	color:#5f5f5f;
	/*
	letter-spacing:0.5rem;
	*/
	line-height:3rem;
}

.faq .a:before{
	content:url("../img/A.png");
}
